@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --seidor-primary: #3447B0;
  --seidor-secondary: #4464E2;
  --seidor-light: #7BBCF8;
  --seidor-lightest: #E1EDF9;
  --seidor-gray: #8490B4;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
